body{
  background-image: url('https://cutewallpaper.org/25/animated-tech-white-wallpaper/white-f1178-technology-3663a-wallpapers-2702d-on-d2bf8-wallpaperdog.png');
  background-repeat: no-repeat;
  background-color:#ecebeb
}

.contactImgContainer{
display: inline-flex;
flex-direction: row;


}
#contactLogoContainer{
display:inline-flex;
height: 15vh;
border-radius: 20px;
  }

.icon:hover{
width: 17vh;
height:17vh;

  }

  .icon{
  height:15vh;
  width:15vh;
  border-radius:20px;
  }

  #myPicture{
    height:40vh;
    border-radius: 15px;
    background-color: rgb(197, 205, 205);
    border-radius: 9px;
    box-shadow: 15px;
  }
  #myPictureContainer{
    display:inline-flex;
    justify-content: center;
    /* background-color: rgb(197, 205, 205); */
    border: 1.7px solid rgb(28, 234, 220);
    border-radius: 9px;
    box-shadow: 2vh;
    margin-left: 25vw;
    
  }

  .projectImgContainer{
    display:inline-flex;
    flex-direction: row;
    justify-content: center;
    height:30vh;
    border-radius: 5px;
   
    
  }
  .projectImg{
    height:40vh;
    width:auto;
    padding:2vh;
    margin-left:10vh;
    margin-right: 10vh;
    
   
    border: 1.7px solid rgb(18, 225, 160)
  }
  #projectsContainer{
    display: flex;
    flex-direction: column; 
    background-color: red;
    height:120vh;
    justify-content: space-around;
  
  }

  #projectTitle{
    text-align: center;
    background-color: rgb(18, 225, 201);
  
  }

  #projectDescriptionContainer{
    display:inline-flex;
    justify-content: space-evenly;
    width:80vh;
  }

  .projectDescription{
    display: inline-flex;
    background-color: aquamarine;
    padding-left:5vh;
    font-size: medium;
    
  }


  #intro{
    text-align: center;
    font-family: 'Overpass Mono', monospace;
    font-size: xx-large;


  }

  .text{
    font-family: 'Overpass Mono', monospace;
    font-weight: 200;
  }
  #profileBorder{
    display:inline-flex;
    padding:5vh;
    border:1.7px solid orangered;
    margin: 5vh;
    padding-left: 0;
    border-radius: 9px;
  }

  .projectTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  #aboutMeTitle{
    background-color: rgb(39, 204, 219);
    margin-left:4vh;
    text-align: center;
    display:inline-flex;
    margin-left: 30vh;
    padding:1vh;
    padding-left: 3vh;
    padding-right:3vh;
    border-radius: 5px;
  }
  #aboutMe{
    margin-left:2vh;
    padding-left: 2vh;
  }

  #skillsTitle{
    margin-left: 47vh;
    background-color: orangered;
    padding:1vh;
    padding-left: 3vh;
    padding-right:0;
    border-radius: 5px;
    width:13vh;
    
  }
  #skills{
    display:inline-flex;
    margin-top: 0;
    margin-left: 10vh;
    margin-right:10vh;
  
  }

  #skillsContainer{
    display:inline-flex;
    flex-direction: column;
    border: 1.7px solid orangered;
    margin: 5vh;
    margin-top: 4.5vh;
    margin-right:15vh;
    border-radius: 7px;
    
  }

  .logoRow:last-of-type{
    padding-right:13vh;
  }

  #logoContainer{
    display:inline-flex;
    direction: column;

  }

  #skillsLogoContainer{
    display:inline-flex;
    flex-direction: row;
    border:1px solid rgb(39, 204, 219);
    margin:5vh;
    margin-top: 2vh;
    border-radius: 7px;
  }
  .logo{
    height:10vh;
    border-radius: 30px;
  }

  .logoRow{
    display:inline-flex;
    flex-direction: column;
    padding-top:2.5vh;
    padding-right:2vh;
    
  }

  #contactContainer{
    display:inline-flex;
    margin-top: 20vh;
    background-color: blueviolet;
    height:20vh;
  }
  span {
    -webkit-animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand-fwd 2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            font-family: 'BhuTuka Expanded One', cursive;

  }
  
  @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    90% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }


  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
              transform: translateZ(-700px);
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      opacity: 1;
    }
  }

